body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    position: relative;
}

.waveBlue {
    fill: #085ca9;
    stroke-width: 0px;
}

.moon {
    position: absolute;
    top: 5vw;
    right: 5vw;
    width: 32vw;
    svg {
        width: 100%;
        height: auto;
    }
}

.car {
    position: absolute;
    bottom: 0vw;
    left: 50%;
    transform: translate(-50%);
    width: 20vw;
    svg {
        width: 100%;
        height: auto;
    }
}